{% extends 'blog/base.html' %}

{% block content %}
<div xmlns:float="http://www.w3.org/1999/xhtml" class="post">
    {% if post.published_date %}
    <div class="date">
        {{ post.published_date }}
        {% if user.is_authenticated %}
        <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}">
            <span class="glyphicon glyphicon-pencil"></span>
        </a>
        {% endif %}
    </div>
    {% else %}
    <div class="date">
        <a class="btn btn-default" href="{% url 'post_publish' pk=post.pk %}">
            <span style="font-size: 10pt;">Publish</span></a>
        <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}">
            <span class="glyphicon glyphicon-pencil" style="font-size: 14pt;"></span></a>
        <a class="btn btn-default" href="{% url 'post_remove' pk=post.pk %}">
            <span class="glyphicon glyphicon-remove" style="font-size: 14pt;"></span></a>
    </div>
    {% endif %}
    <h1>{{ post.title }}</h1>
    <p>{{ post.text|linebreaksbr }}</p>
</div>
{% endblock %}